#**Theory Questions**

1. What are data structures, and why are they important?
 - Data structures are ways to organize and store data in an efficient manner. They act like containers that decide how data is stored, accessed, and changed.
 - Data structures can hold different types of values, like strings, lists, tuples, sets, dictionaries, booleans, and more. Each type has its own use cases and benefits depending on how we need to access or modify the data.
 - The importance of data structures is that they help solve real-world problems more effectively. They're key in areas like software development, data analysis, and many more. Choosing the right data structure is important for improving performance, managing memory usage, and making analysis easier.

2.  Explain the difference between mutable and immutable data types with examples.
 - Mutable data types are those whose values can be changed after they are created. This means we can modify the data, add or remove elements, and perform various other operations that alter the original object.
 - Common examples of mutable data types are lists, sets, dictionaries.
 - For Example - In list data types we can do append or remove or access the particular elemenet.
  my_list = ["Book", "Pen", "Scale"]
  my_list.append("Pencil") # Adds Pencil to the list
  my_list[2] = "Bag" # Modifies the third element
  print(my_list) # Output: ["Book", "Pen", "Bag", "Pencil"]
 - Immutable data types are those whose values cannot be changed after they are created. This means we cannot modify the data, add or remove elements, or perform any operation that alters the original object.
 - Examples of immutable data types include tuples, strings, and frozensets. For example, in a tuple, we cannot append or remove elements:
 my_tuple = (100,600,900)
 my_tuple[1] = 200 # it will throw an error

3. What are the main differences between lists and tuples in Python?
 - Lists:
  Lists are used to store a collection of data of any type, enclosed in square brackets.
  It is also mutable, meaning we can modify them, such as adding, removing, or changing elements.
  Example format:
   a = [1,True,"Ram",4.5]
 - Tuples:
  Tuples are also used to store any type of data, but they are enclosed in round brackets.
  Tuples are immutable, meaning once they are created, no changes can be made to them. We cannot modify, add, or remove elements.
  Example format:
   a = (1,True,"Ram",4.5)

4. Describe how dictionaries store data.
 - Dictionaries store data in key-value pairs. The key is unique, and each key has a corresponding value. The values can be of any data type, like numbers, strings, lists, tuples, sets, or even other dictionaries.
  - For example:
   a = {
    "Name": "Swar",
    "Age": 25,
    "Marks Obtained": 498.50,
    "Hobbies": ["Book Reading", "Sports", "Travelling"],
    "Family_Members": ("Mommy","Papa","Bhaiya","Bhabhi"),
    "Special_numbers": {23,30,22,14}
   }

 - In above eaxmple, the keys are "Name", "Age", "Marks Obtained", "Hobbies","Family_Members", "Special_numbers" and values are mix of strings, numbers, lists, tuples, sets.

5. Why might you use a set instead of a list in Python?
 - We would use a set when we need to store unordered data and don't want any duplicates. Sets automatically ignore duplicate values.
 - A list is useful when we want to store data in a specific order and might need to change it later, like adding, removing, or modifying elements.

6. What is a string in Python, and how is it different from a list?
 - A string in Python is a data type used to store text. It is immutable, meaning once it is created, we can't change its content. Strings are always inside single or double quotes.
 - A list is also a data type but is mutable, so we can change its elements. Lists are inside square brackets and can hold different types of data, like numbers, strings, or even other lists.

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity through its immutable characteristic. Once a tuple is created, we can't modify, add, or remove any of its elements. This means the data stays the same, which helps keep it reliable and ensures its integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs, where the key is generated through a hashing function. This function creates a unique value for each key, which helps in quickly accessing the corresponding value of the particular key.
 - Dictionaries work based on hash tables. When we use a dictionary, the keys are hashed, and the values are stored at locations determined by these hash values. This makes accessing values by key really fast and efficient.

9. Can lists contain different data types in Python?
 - Yes, lists can contain elements of different data types. It can have integers, strings, floats, and even other lists or dictionaries within a single list.

10. Explain why strings are immutable in Python.
 - Strings are immutable in Python due to following reasons:

  - Performance optimization: Immutable objects are more efficient in terms of both memory and speed, especially when strings are used repeatedly. Since strings can't be changed, so the storage is managed more effectively.
  - Used as dictionary keys: Since dictionary keys need to be immutable and hashable, strings are best for this. Their immutability ensures that their hash value remains the same, making them reliable for quick lookups or accessing values.

  - Thread safety: Because strings are immutable, they are safe to use across multiple threads/tasks. Since they can't be changed, we don't have to worry about one thread modifying the string while another is using it, which helps avoid problems in multi-threaded environments.

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries have several advantages over lists on certain tasks because they store data as key-value pairs. This makes it easier and faster to retrieve data using a key, instead of depending on the index of an element like in lists.
 - Advantages are faster access using the keys, no indexing is required and as the data is unordered just using key can get the required values, better organization due to key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list.
 - A tuple is preferable over a list when we need to store data that should not be changed after it's created. Since tuples are immutable, they are ideal for situations where the data should remain constant and unmodifiable.
 - For example: Storing an Aadhar card number or any other unique identifier. Once created, it should not change. Using a tuple ensures that the value is protected from any changes.

13. How do sets handle duplicate values in Python?
 - Sets contains only distinct elements. When we try to add a duplicate value to a set, it automatically ignores it and doesn't store it. This ensures that each element in a set is unique.

14. How does the “in” keyword work differently for lists and dictionaries?
 - The "in" keyword work differently for lists and dictionaries:

 - In a list, the "in" keyword is used to check if a particular element exists in the list. It searches through the list to see if the particular element or value is present.
 - In a dictionary, the "in" keyword checks if a key exists in the dictionary. It doesn't check the values, it searches through the dictionary's keys.

15. Can you modify the elements of a tuple? Explain why or why not.
 - No, we cannot modify the elements of a tuple because it is immutable. Once a tuple is created, its values cannot be changed, added, or removed. This immutability is a main feature of tuples, which makes them useful for situations where we want to ensure the data remains unchanged. Trying to change an element of a tuple would result in an error. This immutability helps ensure data integrity, especially in cases where the data should remain constant.
 - For example - Aadhar card number, or any government document number which has to be constant.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where one or more of its values are
  themselves dictionaries. This allows us to store more complex data structures within a dictionary, making it possible to organize data in a hierarchical way.
  - For example:
  If we want to store information about our family members details such as name, age, profession, hobby. We can use a nested dictionary to structure this data.
  - family_details = {
    "Mother":{"Name":"Manju Kumari", "Age":55, "Profession": "Governemnt_employee_retired", "Hobby": {"Internal": "Puja", "External": "Travelling"}},
    "Father":{"Name":"Narendra Prasad Singh", "Age":60, "Profession": "Social_worker", "Hobby": {"Internal": "Singing", "External": "Harmonium"}}
  }
  print(family_details['Mother']['Hobby']['Internal'])  # Output: Puja
  - In the above example:
  The outer dictionary stores the familys members relationship as keys.
  The inner dictionaries store the each family members personal details and hobby.


17. Describe the time complexity of accessing elements in a dictionary?
 - Accessing elements in a dictionary by key has an average time complexity of O(1). This means it takes constant time to retrieve a value, no matter how large the dictionary is. So, it's really efficient when we need to look up data by a key.
 - However, in rare cases, like when there are hash collisions, the time complexity could go up to O(n), where n is the number of elements. But usually, we can expect O(1) time for accessing dictionary values.

18. In what situations are lists preferred over dictionaries?
 - Lists are preferred over dictionaries when we need to store a sequence of items without the need for key-value pairs. Lists are ideal when the order of elements matters or when we need to access elements by their position, that is, index in the sequence.
 - Lists can be used when:
 - We don't need to associate each item with a unique key.
 - We want to store ordered data where elements can be accessed by their index.
 - The elements may need to be modified, added, or removed frequently.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because the elements, that is, key-value pairs are not stored in a specific sequence. Dictionaries store data in a way that allows fast access using unique keys, but the order of these pairs is not guaranteed.
 - Since dictionaries don't store items in a particular order, we cannot access data by position. Instead, we retrieve data using the key, which gives the corresponding value to that key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - A list can be accessed using the position or index of the elements, meaning we retrieve data based on where it is located in the list.
 - On the other hand, dictionary uses unique keys to access its values. Each value is linked to a specific key, so we can retrieve the value by using the key associated with it.

# **Practical** **Questions**

####***Related to String:***

In [ ]:
# 1. Write a code to create a string with your name and print it.
my_name = "Swar Sudha"
print(my_name)

Swar Sudha

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
length_string = "Hello World"
print(len(length_string))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
slice_string = "Python Programming"
print(slice_string[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
convert_string = "hello"
print(convert_string.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
replace_string = "I like apple"
print(replace_string.replace("apple","orange"))

I like orange

####**Related to List:**

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list_number = [1,2,3,4,5]
print(list_number)

list_range = list(range(1,6))
print(list_range)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list_append = [1, 2, 3, 4]
list_append.append(10)
print(list_append)

[1, 2, 3, 4, 10]

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
remove_number =  [1, 2, 3, 4, 5]
remove_number.remove(3)
print(remove_number)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
second_element = ['a', 'b', 'c', 'd']
print(second_element[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

####**Related to Tuple:**

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [ ]:
#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_num = min(my_tuple)
print(min_num)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple','kiwi','orange')
print('kiwi' in my_tuple)

True

####**Related to Set:**

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

####**Related to Dictionary**

In [ ]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Swar", "age": 25, "city": "Saharsa"}
print(my_dict)

{'name': 'Swar', 'age': 25, 'city': 'Saharsa'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

####**Mix**

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = ["Book", "Pen", "Mirror"]
my_tuple = (5, 8, 9.0)
my_dict = {"Movie": "All the Best", "Actor": "Vicky Kaushal"}
print(f" My list is {my_list}\n My tuple is {my_tuple}\n My dictionary is {my_dict}")

 My list is ['Book', 'Pen', 'Mirror']
 My tuple is (5, 8, 9.0)
 My dictionary is {'Movie': 'All the Best', 'Actor': 'Vicky Kaushal'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[13, 27, 32, 86, 97]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["Swar", "Book", "Love", "Blessings", "Care"]
print(my_list[3])

Blessings

In [ ]:
# 29.  Write a code to combine two dictionaries into one and print the result.
dict1 = {"Name": "Swar", "Age": 25, "Hobby": "Book Reading"}
dict2 = {"Books": "The Alchemist", "Author": "Paulo Coelho"}
dict1.update(dict2)
print(dict1)

{'Name': 'Swar', 'Age': 25, 'Hobby': 'Book Reading', 'Books': 'The Alchemist', 'Author': 'Paulo Coelho'}

In [ ]:
# 30.  Write a code to convert a list of strings into a set.
my_list = ["Dress", "Make-up Kit", "Shoes", "Bags"]
my_set = set(my_list)
print(my_set)

{'Dress', 'Bags', 'Shoes', 'Make-up Kit'}